
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Button trigger modal -->
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="OpenModal()">
            Add new
        </button>
    </div>
    <div class="col-md-6">
        <div class="col-md-5">
            <input name="Search" id="SearchTxt" class="form-control" />
        </div>
        <div class="col-md-2">
            <button type="button" id="SeatchIt" class="btn btn-secondary">
                Search
            </button>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ProModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cate">Category</label>
                            @Html.DropDownList("CatId", (IEnumerable<SelectListItem>)@ViewBag.Category, "Select Category", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Price">Price</label>
                            <input type="text" class="form-control" id="Price" name="Price" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text" class="form-control" id="Description" name="Description" placeholder="Description">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveProduct()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ProEditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="Names" name="Name" placeholder="Enter Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cate">Category</label>
                            @Html.DropDownList("CatIds", (IEnumerable<SelectListItem>)@ViewBag.Category, "Select Category", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Price">Price</label>
                            <input type="text" class="form-control" id="Prices" name="Price" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text" class="form-control" id="Descriptions" name="Description" placeholder="Description">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="hiddenId" />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="EditProduct()">Save</button>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div id="divLoadItems">

</div>

@section Scripts{
    <script type="text/javascript" src="~/JS/Product.js"></script>
}

